<h1>Apie mus</h1>

<p align="justify">Lietuvos Gamtos Mokslų Olimpiadų Asociacija (LGMOA), neoficialiai dar žinomi kaip Oranžiniai, yra savanoriška bei ne pelno siekianti organizacija, kurios pagrindinis tikslas yra <b>skatinti visuomenės susidomėjimą gamtos mokslais</b>. Mūsų įdedamų pastangų pagrindiniai adresatai be jokios abejonės yra perspektyviausia visuomenės grandis – vaikai. Labai dažnai mokinį pastūmėti mokslo link gali vienas pokalbis su bendraminčiu, viena olimpiada ar vienas gamtos reiškinys. Mums rūpi, kad kuo daugiau mokinių galėtų tai patirti bei atrasti savo kelią.
<br></p>
<h3>Mūsų nuveikiami darbai</h3>

<p align="justify">Kasmet kartu su Lietuvos neformaliojo švietimo agentūra (LINEŠA) <b>padedame suorganizuoti</b> Lietuvos mokinių <b>chemijos, biologijos, fizikos  bei LGMO</b> (Lietuvos gamtos mokslų) olimpiadas. Rėmėjų skirtas lėšas panaudojame nugalėtojų bei prizininkų <b>dovanoms</b>.
<br></p>

<p align="justify">Rengiame išvykas į mokyklas, įvairiausiuose Lietuvos kampeliuose, demonstruojame mokslinius <b>eksperimentus</b>, vedame <b>pamokas</b>, bendraujame su mokiniais, mokytojais ir mokyklų administracija.
<br></p>

<p align="justify">Rūpinamės, kad motyvuoti moksleiviai <b>kuo lengviau rastų galimybes sudalyvauti konkursuose</b> bei įgyti patirties, kurios nesuteikia bendrojo ugdymo programos - prižiūrime portalą olimpiados.lt, taip pat naujienas viešiname mūsų Facebook puslapyjiuose <a href="https://www.facebook.com/Oranziniai">LGMOA - Oranžiniai</a> bei <a href="https://www.facebook.com/olimpiados.lt">Olimpiados.lt</a>. Daugiau nuorodų ieškokite <a href="https://linktr.ee/lgmoa">mūsų linktree</a>.
<br></p>

<p align="justify">Siekiantiems daugiau žinių biologijos srityje sukūrėme visos Lietuvos mastu veikiančią bei analogų Lietuvoje neturinčią <b>nuotolinę biologų mokyklą - „Biologų sandraugą“</b>. Čia gabiausi Lietuvos biologai ruošiasi olimpiadoms, savo rankomis prisiliečia prie darbo laboratorijose bei randa draugų su bendrais interesais.</p>