<h1>Apie mus</h1>

<p>Lietuvos Gamtos Mokslų Olimpiadų Asociacija (LGMOA), neoficialiai dar žinoma kaip Oranžiniai, yra savanoriška bei ne pelno siekianti organizacija, kurios pagrindinis tikslas yra skatinti visuomenės susidomėjimą gamtos mokslais. Mūsų įdedamų pastangų pagrindiniai adresatai be jokios abejonės yra perspektyviausia visuomenės grandis – vaikai. Labai dažnai mokinį pastūmėti mokslo link gali vienas pokalbis su bendraminčiu, viena olimpiada ar vienas gamtos reiškinys. Mums rūpi, kad kuo daugiau mokinių galėtų tai patirti bei atrasti savo kelią.
<br>
Mūsų nuveikiami darbai:</p>

<p>Kasmet padedame suorganizuoti Lietuvos mokinių chemijos, biologijos, fizikos  bei LGMO (Lietuvos gamtos mokslų) olimpiadas. Rėmėjų skirtas lėšas panaudojame nugalėtojų bei prizininkų dovanoms.
<br>
Surengiame bent 10 išvykų į mokyklas, vaikų namus įvairiausiuose Lietuvos kampeliuose, demonstruojame mokslinius eksperimentus, vedame paskaitas, bendraujame su mokiniais, mokytojais ir mokyklų administracija.
<br>
Rūpinamės, kad motyvuoti moksleiviai kuo lengviau rastų galimybes sudalyvauti konkursuose bei įgyti patirties, kurios nesuteikia bendrojo ugdymo programos - prižiūrime portalą olimpiados.lt, taip pat naujienas publikuojame socialiniame tinkle Facebook, puslapyje LGMOA - Oranžiniai.
<br>
Siekiantiems daugiau žinių biologijos srityje sukūrėme visos Lietuvos mastu veikiančią bei analogų Lietuvoje neturinčią nuotolinę biologų mokyklą - „Biologų sandraugą“. Čia gabiausi Lietuvos biologai ruošiasi olimpiadoms, savo rankomis prisiliečia prie darbo laboratorijose bei randa draugų su bendrais interesais.</p>

<p>Ar žinojote, kad:
<br>
2017 metais Lietuvos mokiniai parvežė 1 aukso, 5 sidabro, 6 bronzos, 2 komandinius sidabro medalius iš tarptautinių gamtos mokslų olimpiadų ir 1-3 vietas Baltijos šalių chemijos olimpiadoje.</p>