<h1>Kontaktai</h1>

<p>Susisiekite su mumis:</p>
<p>Naugarduko 24, Vilnius<br><a href="mailto:info@olimpiados.lt">info@olimpiados.lt</a></p>
<p>Mūsų sąskaita: LT63 7044 0600 0772 0261</p>
<p>Renginių informacija: Miglė Čiurinskaitė ‭+370 61275306‬; Justina Aglinskaitė +370 62682267</p>
<p>Bendradarbiavimo klausimai: Dominykas Žviedrys +370 63762615</p>
