/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 require_tree .
 *= require_self
 *= require articles.scss
 */

@import "bootstrap";

a {
  color: #f0983b;
}

a:hover{
  color: #d0882b;
}

.pagination_container
{
  // background: #f1f1f1;
  // border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.pagination_container a, .pagination_container span
{
  padding: 0.2em 0.3em;

}
.pagination_container .disabled
{
  color: #aaaaaa;
}
.pagination_container .current
{
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.pagination_container a
{
  text-decoration: none;
  color: black;
}
.pagination_container a:hover, .pagination_container a:focus
{
  text-decoration: underline;
}

.header{
  margin-bottom: 1rem;
}

.container img{
  max-width: 100%;
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.footer{
  padding: 32px;
  border-radius: 16px;
  background-color: #f4e7a0;
}

.sidebar {
  .menu ul {
    padding: 0;
  }

  .menu li {
    margin-left: 0;
    list-style: none;
  }

  // .menu li:last-child {
  //   padding-bottom: 0;
  //   border-bottom: 0;
  // }

  .menu li a {
    display:block;
    border-top: 1px solid #dddddd;
    padding-bottom: 10px;
    width: auto;
  }

  .menu li a:hover {
    background-color: #eeeeee;
  }

  .menu li a:hover img {
    opacity: 0.9;
  }

  .menu{
    text-align: right;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    padding: 5px;
    margin-bottom: 2rem;
  }
}


@media (max-width: 575px) {
  .expand{
    width: 100%;
  }
}