// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-title{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article{
  margin-bottom: 2rem;
}

.article-info{
  text-align: right;
}