<div class="article">
  <h4 class="article-title"><%= link_to article.title, article_path(article) %></h4>

  <div class="article-content">
    <%= markdown(article.intro_text) %>
  </div>

  <% unless article.has_only_intro? %>
    <h6 class="article-title"><%= link_to "Skaityti daugiau...", article_path(article) %></h4>
  <% end %>

  <div class="article-info">
    <%= I18n.l(article.created_at, :format => :long).sub(/^./, &:upcase) %>
  </div>
</div>
<hr>