<div class=footer>
  <p>Susisiekite su mumis:</p>
  <p>Kęstučio g. 4 / Vykinto g. 14&nbsp;Vilnius: LT-08117<br><a href="mailto:info@olimpiados.lt">info@olimpiados.lt</a></p>
  <p>Renginių informacija: Ieva Lenkaitė, +37063051872;&nbsp;Justina Aglinskaitė, +37062682267</p>
  <p>Bendradarbiavimo klausimai:&nbsp;Lina Bagdzevičiūtė, +37065020388</p>
  <p><sub>
    <%= link_to "Redakcijai ;)", admin_root_url, target: :blank %>
  </sub></p>
</div>