<div class=footer>
  <p>Susisiekite su mumis:</p>
  <p>Naugarduko 24, Vilnius<br><a href="mailto:info@olimpiados.lt">info@olimpiados.lt</a></p>
  <p>Mūsų sąskaita: LT63 7044 0600 0772 0261</p>
  <p>Renginių informacija: MIglė Čiurinskaitė ‭+370 61275306‬; Justina Aglinskaitė, +370 62682267</p>
  <p>Bendradarbiavimo klausimai: Lina Bagdzevičiūtė, +370 65020388</p>
  <p><sub>
    <%= link_to "Redakcijai ;)", admin_root_url, target: :blank %>
  </sub></p>
</div>