<div class="header">
  <%= image_tag("title.jpg", :alt => "Olimpiados.lt", :title => "Puslapis naujas, paveikslėlis- nelabai") %>

  <% flash.each do |name, msg| -%>
    <%= msg %>
  <% end -%>
</div>