<div class="sponsors menu">
  <h4>Rėmėjai</h4>
  <ul>
    <% @sponsors.each do |sponsor| -%>
      <li>
        <%= link_to sponsor.url, target: :blank, title: sponsor.name do  %>
          <%= image_tag sponsor.image.file.url %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>